.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  margin-right: 10px;
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.res-card {
  padding: 5px;
  width: 200px;
  height: 460px;
  border: 1px solid black;
  transition: background-color 0.3s ease;

}
.res-card:hover {
cursor: pointer;
background-color: lightgray;
}
.filter {
  padding: 10px;
}
.res-img {
  width: 100%;
}
.button-btn {
margin: 10px;
cursor:pointer;
}

.shimmer-element{
  background-color: rgba(87, 43, 43, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.shimmer{
  animation: shimmer 2s linear infinite;
}
.login{
  padding:0 20px ;
  cursor: pointer;
}
.filter{
  display: flex;
}